<template name="selectWidget">
            <p>Choose a widget to add</p>

                <a class="addwidget btn btn-app" data-type="chart">
                    <i class="fa fa-bar-chart-o" data-type="chart"></i>
                    Chart
                </a>

                <a class="addwidget  btn btn-app" data-type="table">
                    <i class="fa fa-table" data-type="table"></i>
                    Table
                </a>

                <a class="addwidget  btn btn-app" data-type="filter" >
                    <i class="fa fa-filter" data-type="filter"></i>
                    Filter
                </a>

                <a class="addwidget  btn btn-app" data-type="collaboration">
                    <i class="fa fa-comments" data-type="collaboration"></i>
                    Collaboration
                </a>
</template>