<template name="main">

<html>

    <body class="skin-black fixeds">
        <!-- header logo: style can be found in header.less -->
        {{>main_header}}
        <div class="wrapper row-offcanvas row-offcanvas-left">
            <!-- Left side column. contains the logo and sidebar -->
            {{> sidebar}}

            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        {{pagetitle}}
                        <small>{{subtitle}}</small>
                    </h1>
                {{>Template.dynamic template=pagemenu}}
                </section>

                <!-- Main content -->
                <section class="content">

                {{>yield}}
                </section><!-- /.content -->
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->

        {{> autoformModals}}
    {{>slidePanel}}
     </body>
</html>
</template>
